{% extends "base.html" %}

{% load static %}

{#importing filter created by us#}
{% load my_filter %}

{% block css_additional  %}
{#rel=stylesheet means .css file#}
{#by default django seeks static files in static folder, so it's the reason why we've called it so#}
 <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}

{% block title  %}
    Гороскоп для {{ sign|capfirst}}
{% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
{#    getting the sign name by using self-made filter "split" and default filter "first"#}
    <h1>{{ zodiac_description|split|first }}</h1>
    {% if zodiac_description is None %}
        <h2>Неправильный знак зодиака - {{ sign|capfirst }}</h2>
    {% else  %}
        <h2>{{ zodiac_description }}</h2>
    {% endif  %}
{%  endblock %}

